/* Estrutura da página de login */
.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
   /* Caso o vídeo falhe ao carregar */
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%); /* Escurecer o vídeo para maior legibilidade do conteúdo */
}

.login-box {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75); /* Fundo semitransparente */
  padding: 40px;
  border-radius: 8px;
  max-width: 360px;
  width: 100%;
  color: white;
  text-align: center;
}

.login-box h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.form-group input::placeholder {
  color: #bbb;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: darkred;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
}

.forgot-password {
  color: #bbb;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signup {
  margin-top: 20px;
  font-size: 0.9rem;
}

.signup a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.signup a:hover {
  text-decoration: underline;
}
