
.series-page {
  background-color: #000; 
  color: white; 
  padding: 20px;
  padding-top: 100px; 
  overflow-x: hidden; 
}


.series-preview {
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  background-attachment: fixed; 
}

.series-overlay {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 40%, transparent);
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.series-info h2 {
  color: red; 
  font-size: 18px;
}

.series-info h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.series-info p {
  font-size: 18px;
  max-width: 500px;
}

.series-info span {
  font-size: 16px;
  color: #888;
}


.series-category {
  margin: 30px 0;
}

.series-category h2 {
  margin-left: 10px;
  font-size: 24px;
}

.series-row {
  display: flex;
  overflow-x: scroll; 
  padding: 10px;
  scroll-behavior: smooth; 
}

.series-card {
  margin-right: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.series-card img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.series-card:hover {
  transform: scale(1.05); 
}


.series-row::-webkit-scrollbar {
  display: none;
}

.series-row {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

